<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>投资特权</string>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>会员红包</string>
				<key>image</key>
				<string>privilege_hyhb</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>升级礼包</string>
				<key>image</key>
				<string>privilege_sjlb</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>周年感恩</string>
				<key>image</key>
				<string>privilege_znge</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>积分加倍</string>
				<key>image</key>
				<string>privilege_jfjb</string>
				<key>level</key>
				<integer>4</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>服务特权</string>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>生日礼包</string>
				<key>image</key>
				<string>privilege_srlb</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>专属客服</string>
				<key>image</key>
				<string>privilege_zskf</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>高端服务</string>
				<key>image</key>
				<string>privilege_gdfw</string>
				<key>level</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>随时转让</string>
				<key>image</key>
				<string>privilege_sszr</string>
				<key>level</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>生活特权</string>
		<key>data</key>
		<array>
			<dict>
				<key>title</key>
				<string>节日礼遇</string>
				<key>image</key>
				<string>privilege_jrly</string>
				<key>level</key>
				<integer>3</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>商品折扣</string>
				<key>image</key>
				<string>privilege_spzk</string>
				<key>level</key>
				<integer>2</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>加油卡</string>
				<key>image</key>
				<string>privilege_jyk</string>
				<key>level</key>
				<integer>5</integer>
			</dict>
			<dict>
				<key>title</key>
				<string>免费体检</string>
				<key>image</key>
				<string>privilege_mftj</string>
				<key>level</key>
				<integer>6</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
